@using lengkeng.ViewModels
@model HeaderViewModel 
<header class="header">
    <div class="header-inner">
        <div class="container">
            <!-- Top Header -->
            <div class="header-top">

                <div class="row">
                    <div class="col-sm-4 header-left col-xs-6">
                        <ul class="nav">
                            <li><a href="/Home/Contact">Liên Hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 header-right col-sm-push-4  col-xs-6">
                        <ul class="nav">
                            <li><a href="/Authentication/Login">Đăng Nhập</a></li>
                        </ul>
                    </div>

                    <!-- Logo -->
                    <div id="logo" class="col-sm-4 logo col-sm-pull-4">
                        <a href="index.html">
                            <img alt="The LengKeng"
                                 src="@Model.Logo">
                        </a>
                    </div>

                </div>
            </div>

        </div>

        <!-- Main Menu -->
        <nav id="primary-navigation" class="navbar" role="navigation">
            <div class="navbar-inner">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <h3 class="navbar-brand">Danh Mục</h3>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Home/Index">Trang Chủ</a></li>
                        <li><a href="/Home/About">About</a></li>
                        <li>
                            <a href="/Home/Menu">Danh Mục</a>
                            <div class="mega-menu">
                                <div class="mega-menu-inner">
                                    @*<div class="mega-cols">
                                        <ul class="sub-menu">
                                            @{
                                                
                                                foreach (CategoryViewModel item in Model.listCategoryViewModel)
                                                {
                                                    <li><a href="/Home/DoMenu/@item.Id">@item.Name</a></li>
                                                }
                                            }

                                        </ul>
                                    </div>*@
                                    <div class="mega-cols">
                                        <div class="mega-text">
                                            <figure>
                                                <img alt="" src="/Images/imgs/megamenu.jpg">
                                                <figcaption>Hãy chọn và cảm nhận sự tuyệt vời mà vị giác sẽ mang lại cho bạn...</figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/Home/Galary">Hình Ảnh</a>
                            <div class="dropdown">
                                <ul class="sub-menu">
                                    <li><a href="galleries-v3.html">Galleries 2 Cols</a>
                                    <li><a href="galleries-v1.html">Galleries 3 Cols (Single Expanding)</a>
                                    <li><a href="galleries-v2.html">Galleries 4 Cols (Single Popup)</a>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/Home/News">Tin Tức &amp; Sự Kiện</a>
                            <div class="dropdown">
                                <ul class="sub-menu">
                                    <li><a href="blog-v1.html">Blog standard</a>
                                    <li><a href="blog-v2.html">Blog Left Sidebar</a>
                                    <li><a href="blog-v3.html">Blog Right Sidebar</a>
                                    <li><a href="post.html">Single</a>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/Home/Contact">Liên Hệ</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>

    </div>

</header>
